.adminUsers {
  display: table;
  border: 1px solid #777;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
}

.userTable {
  display: flex;
  justify-content: center;
}

.bookingTable {
  display: flex;
  justify-content: center;
}

.roomTable {
  display: flex;
  justify-content: center;
}

.adminNavbar {
  display: flex;
  justify-content: center;
}

.status {
  display: flex;
  justify-content: center;
}
