.li {
  list-style-type: none;
}

.roomDetailPage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 2rem;
}

.bookingConfirm {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin: 1rem;
  margin-bottom: 1rem;
}

.card {
  padding: 1rem;
  background-color: white;
  border: 1px solid #777;
  border-radius: 0.25rem;
  overflow: hidden;
}

.card-header.card-image {
  padding: 0;
  overflow: hidden;
}

.card-header.card-image > img {
  display: block;
  width: 100%;
  max-height: 200px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  transition: 200ms transform ease-in-out;
}

.AvailabilityForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
