.ListofRooms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.li {
  list-style-type: none;
}

.roomDetailPage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 2rem;
}

.bookingConfirm {
  display: flex;
  flex-direction: column;
}
