.li {
  list-style-type: none;
}

.roomDetailPage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  line-height: 2rem;
}

.bookingConfirm {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin: 1rem 1rem 7rem 1rem;
}

.card {
  margin: auto;
  width: 75%;
  padding: 1rem;
  background-color: white;
  border: 1px solid #777;
  border-radius: 0.25rem;
  overflow: hidden;
}

.card-header.card-image {
  padding: 0;
  overflow: hidden;
}

.card-header.card-image > img {
  display: block;
  width: 100%;
  max-height: 200px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  transition: 200ms transform ease-in-out;
}

.AvailabilityForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.singleBooking {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.inputbox {
  display: flex;
  flex-direction: column;
  border: solid black;
  margin-right: 0.5rem;
}

.bookings {
  margin-bottom: 7rem;
}

.btn {
  background-color: #4a154b;
  color: white;
  margin-top: 0.5rem;
  border-radius: 12px;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}
